.article-card {
  margin: 20px auto; /* Space around cards */
  width: 80%; /* Adjust this to control the card width */
  max-width: 900px; /* Maximum width */
  margin-bottom: 20px;
  border: 1px solid #e2e8f0; /* Light border for definition */
  border-radius: 0.5rem; /* Slightly rounded corners */
  overflow: hidden; /* Ensures content respects border radius */
  transition: all 0.3s ease; /* Smooth transition for all properties */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), /* Subtle shadow for depth */
              0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Professional font */
  background: #fff; /* Assuming a light theme, adjust as necessary */
}

.article-card:hover {
  transform: translateY(-5px); /* Slight raise effect on hover */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
              0 4px 6px -2px rgba(0, 0, 0, 0.05); /* Increased shadow on hover */
}

.article-card.expanded {
  max-height: none; /* Remove max-height restriction when expanded */
  padding: 20px;
  cursor: default;
}

.article-image {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}

.article-card.expanded .article-image {
  opacity: 1; /* Keep the image fully visible when expanded */
}

.article-content {
  padding: 20px;
  transition: max-height 0.3s ease, padding 0.3s ease;
  max-height: 0; /* Start with no height */
  overflow: hidden;
}

.article-content a {
  color: #007bff; /* Link color */
  text-decoration: none; /* Style for links */
}

.article-content a:hover {
  text-decoration: underline; /* Hover effect for links */
}

.article-card.expanded .article-content {
  max-height: none;
}


.article-image, .additional-image {
  width: 100%; /* Full width of the card */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the area, can be adjusted to 'contain' if needed */
  object-position: center; /* Center the image */
  margin-bottom: 15px; /* Spacing after images */
}

.article-card h2 {
  font-size: 24px; /* Larger, bold title */
  font-weight: bold;
  margin-bottom: 10px; /* Spacing after the title */
}

.article-content p, .article-content li, .article-content h3 {
  font-size: 16px; /* Readable text size */
  line-height: 1.6; /* Spacing between lines */
  margin-bottom: 15px; /* Spacing between paragraphs */
}
