.header {
    background-color: #121212; /* Deep, dark background */
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Balanced spacing */
    padding: 2rem 3rem;
    height: 120px; /* More prominent height */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7); /* Deeper shadow for more depth */
}

.logo h1 {
    font-family: 'Montserrat', sans-serif; /* Sleek, modern font */
    font-size: 3.5rem; /* Larger size for more impact */
    color: #f2f2f2; /* Soft white for elegance */
    text-transform: uppercase;
    letter-spacing: 3px; /* Increased letter spacing for sophistication */
}

.nav-link, .search-placeholder {
    color: #a1a1a1; /* Subtle gray for an elegant touch */
    margin: 0 2rem; /* More space for better separation */
    text-decoration: none;
    font-size: 1.5rem; /* Slightly larger for readability */
    font-weight: 600; /* Bold for better visibility */
    transition: color 0.3s ease;
}

.nav-link:hover, .search-placeholder:hover {
    color: #00bcd4; /* Tech blue for an interactive feel */
}

.nav-link::after, .search-placeholder::after {
    content: '';
    display: block;
    height: 3px;
    background-color: #00bcd4; /* Matching the hover color */
    transition: width 0.3s ease;
    width: 0;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-link:hover::after, .search-placeholder:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
        align-items: center;
        padding: 1.5rem;
    }
    .logo h1 {
        margin-bottom: 1.5rem;
        font-size: 3rem;
    }
    .nav-link, .search-placeholder {
        margin: 0.7rem 0;
        font-size: 1.3rem;
    }
}

