/* MainContent.css */
.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
      align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    position: relative;
    overflow: visible; /* Changed to visible to ensure particles are not clipped */
    background-color: rgba(26, 32, 44, 0.6); /* Adjusted background for better particle visibility */
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensures particles are behind the content */
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }
}





